<!DOCTYPE html>
<html>
<form action="/manufacturers/create-form" method="post">
    <label for="name">Manufacturer Id:</label><br>
    <input type="text" id="id" name="id"><br>
    <label for="description">Manufacturer name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="image_url">Product Image URL:</label><br>
    <input type="text" id="image_url" name="image_url" value="https://via.placeholder.com/150"><br>
    <input type="submit" value="Create">
</form>

</html>