<!DOCTYPE html>
<html>
<form action="/products/<%= id %>/delete-form" method="post">
    Are you sure to delete this item?
    <input type="hidden" id="id" name="id" value="<%= id %>">
    <input type="submit" value="Confirm">
</form>

</html>